<div class="px-9">
  <app-add-button
    (buttonClick)="openAddDialogue()"
    buttonName="Immobilie hinzufügen"
  ></app-add-button>

  <div *ngIf="properties$ | async as propertiesData" class="mt-9">
    <app-datatable
      [data]="propertiesData"
      [displayedColumns]="[
        'address',
        'description',
        'size',
        'value',
        'actions'
      ]"
      (onDeleteClick)="handlePropertyDelete($event)"
      (onEditClick)="handlePropertyEdit($event)"
    ></app-datatable>
  </div>
</div>
