@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #ffffff;
  --black: #00000;
  --dark-body-01: #3f404d;
  --dark-body-02: #40414f;
  --dark-body-05: #373744;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  background-color: var(--white);
  color: var(--black);
  font-size: 14px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
