<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">
    <!-- Position Column -->

    <!-- Name Column -->
    <ng-container
      matColumnDef="{{ isContactDatatable ? 'name' : 'description' }}"
    >
      <th mat-header-cell *matHeaderCellDef>
        {{ isContactDatatable ? "Name" : " Beschreibung" }}
      </th>
      <td mat-cell *matCellDef="let element">
        <span
          [class.pointer]="isContactDatatable"
          (click)="isContactDatatable && handleTableClick(element.id)"
        >
          {{ isContactDatatable ? element.name : element.description }}
        </span>
      </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef>Addresse</th>
      <td mat-cell *matCellDef="let element">
        <span
          [class.pointer]="isContactDatatable"
          (click)="isContactDatatable && handleTableClick(element.id)"
        >
          {{ element.address }}
        </span>
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="{{ isContactDatatable ? 'number' : 'size' }}">
      <th mat-header-cell *matHeaderCellDef>
        {{ isContactDatatable ? "Nummer" : "Größe" }}
      </th>
      <td mat-cell *matCellDef="let element">
        <span class="">
          {{ isContactDatatable ? element.number : element.sizeInSqm }}
          {{ !isContactDatatable ? "m²" : "" }}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef>Wert</th>
      <td mat-cell *matCellDef="let element">{{ element.value }} €</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <div class="flex justiy-between">
          <app-base-icon
            (onClick)="handleEditIconClick(element.id)"
            iconClass="fa-solid fa-pen-to-square text-blue-900 text-lg"
            toolTip="Eine Immobilie bearbeiten"
          ></app-base-icon>
          <app-base-icon
            (onClick)="handleDeleteIconClick(element.id)"
            iconClass="fa fa-solid fa-trash text-red-600 text-md"
            toolTip="Eine Immobilie löschen"
          ></app-base-icon>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 8, 10, 20]"
    [pageSize]="pageSize || 8"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
</div>
