<h2 mat-dialog-title>Eigentum hinzufügen Formular</h2>
<mat-dialog-content>
  <div class="dialog-body h-96">
    <mat-form-field appearance="fill" style="width: 100%">
      <mat-label>Beschreibung</mat-label>
      <input
        [(ngModel)]="formData.description"
        matInput
        placeholder="Modernes Stadthaus mit Energieeffizienzklasse A"
      />
    </mat-form-field>

    <app-google-autcomplete-address-searchbar
      (onAddressChange)="handleAddressSelected($event)"
      [editData]="formData.address"
    ></app-google-autcomplete-address-searchbar>

    <div class="flex justify-between">
      <mat-form-field appearance="fill" style="width: 47%">
        <mat-label>Große der "</mat-label>
        <input [(ngModel)]="formData.sizeInSqm" matInput placeholder="105" />
        <span class="px-3" matSuffix>m²</span>
      </mat-form-field>
      <mat-form-field appearance="fill" style="width: 47%">
        <mat-label>Wert der Immobilie"</mat-label>
        <input [(ngModel)]="formData.value" matInput placeholder="500,000" />
        <mat-icon matSuffix>euro</mat-icon>
      </mat-form-field>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <div class="px-9 py-5 flex w-full justify-between">
    <button
      (click)="handleCancelClick()"
      class="bg-red-700 hover:bg-red-800 text-white font-medium py-3 px-6 rounded-sm text-lg tracking-wide w-full lg:w-1/3"
    >
      Cancel
    </button>

    <button
      (click)="handSaveClick()"
      class="bg-green-700 hover:bg-green-800 text-white font-medium py-3 px-6 rounded-sm text-lg tracking-wide w-full lg:w-1/3"
    >
      {{ isEdit ? "Update" : "Save" }}
    </button>
  </div>
</mat-dialog-actions>
